extends ./_layout.jade

block content

  h1 This is an h1
  p.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, placeat ipsam facilis recusandae ad odit, illo, ducimus atque quas beatae molestias quod voluptatibus minus deleniti id ut voluptate unde magnam.

  ul
    li one
    li two
    li three
